<!DOCTYPE html>
<html>
<head>
  <title>Mario Super Store</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "styles", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <div class="main-nav">
      <p><%= link_to "Homepage", root_path %></p>
      <p id="products"><%= link_to "Products", products_path %></p>
      <% if current_user %>
      <p id="user-email"><%= current_user.email %></p>
      <p id="sign-out"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
      <% else %>
      <p id="sign-up"><%= link_to "Sign Up", new_user_registration_path %></p>
      <p id="sign-in"><%= link_to "Sign In", new_user_session_path %></p>
      <% end %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>
    <div class="jumbotron">
      <h1>Mario's Super Store</h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
